<h1>Product List</h1>
<!-- <p>Find me in app/views/products/index.html.erb</p> -->

<%= link_to "List a new product", new_product_path %>

<% @products.each do |product| %>
	<p><%= product.name %>, <%= product.description %>, <%= product.price_in_cents %>, <%= link_to "Show", product %></p>

<%= product.formatted_price %>

<% end %>